langchain
langchain-anthropic
langchain-community
langchain-core
python-dotenv
pypdf
docx
python-docx
streamlit
anthropic

# Dependências adicionais
os-sys==2.1.0  # Usado para manipulação de arquivos e caminhos no sistema operacional
subprocess==1.4.0  # Para gerenciar subcomandos e processos
time==3.3.0  # Para operações de temporização
openai
